@model KeyValuePair<SecretSantaMailer.Participant, SecretSantaMailer.Participant>
<!DOCTYPE html>
<html>
<head>
    <title>Secret Santa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

</head>
<body>
Привет, @Model.Key.Name! Твоего подарка с нетерпением ждёт @Model.Value.Name!

</body>
</html>